@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.banner {
  margin-top: -10vh;
  height: 105vh;
  background-image: url('../../assets/banner.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-welcome {
  text-align: center; 
}

h1 {
  font-family: 'Cinzel', serif;
  letter-spacing: 2.7px;
  position: relative;
  display: inline-block;
  font-size: 74px;
  line-height: 100px;
  color: #fff !important;
  padding-bottom: 0px;
  padding-top: 100px;
}

h1 span {
  color: #e75b1e;
}

h2 {
  color: white !important;
  font-size: 1.5rem;
  margin-bottom: 1rem; 
  font-family: 'Cinzel', serif;
}

p {
  font-size: 1rem; 
  margin-bottom: 2rem; 
  color: white;
}

.book-btn {
  margin-bottom: 2rem; 
}

.table-btn {
  text-decoration: none;
  color: white; 
  background-color: #e75b1e; 
  padding: 10px 20px;
  border-radius: 5px; 
  display: inline-block; 
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  font-weight: 550;
  font-size: 14px;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;   
}

.table-btn:hover {
  background-color: #d65a1a; 
}
